<ion-view view-title="About this app">
  <ion-content>
	<div class="card">
		<div class="item item-text-wrap">
		<h1>Songo</h1>
		<p>Songo is a product of Karadox developed by Karel van den Aarsen</p>
		</div><div class="item item-text-wrap">
		<h2>Update</h2>
		<p>If you are connected to the internet you can update the play lists by pressing the button below.</p>
		 <button class="button icon-left ion-refresh button-block button-positive" ng-click="refreshPlaylists()">Update play lists</button>
		</div><div class="item item-text-wrap">
		<h2>Warranty</h2>
		<p>Decisions made based on the info in this app is at your own risk.<br />
		 Information in this app is freely available on the web etc... rights legal privacy etc...
		</p>
		</div>
	</div>
  </ion-content>
</ion-view>
